
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: rgb(234, 230, 230);
    position: relative;
    align-items: flex-start; /* Garante o alinhamento ao topo */
}

#game-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black; /* Cor de fundo para as barras (se houver) */
}

/* Estilo para a imagem dentro da tela de fim de fase */
.img {
    max-width: 100%;
    height: auto; /*Para manter a proporção */
}

#tela-fim-de-fase img#imagem-fim-de-fase {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Garante que não exceda a largura do pai */
    height: auto; /* Mantém a proporção */
}


#ui-container button#terminar-partida-btn,
#ui-container button#salvar-btn,
#ui-container button#pausar-continuar-btn,
#ui-container button#modo-jogo-btn {
    /* Estilos para os botões da UI, se necessário posicionamento absoluto */
    position: absolute;
    pointer-events: none;
    /* Ajuste top, bottom, left, right conforme a necessidade */
 }

 #tela-fim-de-fase button#btn-voltar-mapa {
    position: absolute; /* Posicionamos os botões absolutamente dentro de .tela */
    bottom: 50px; /* 50px da parte inferior da div .tela */
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    /* Outros estilos visuais */
}

#ui-container {
    position: absolute; /* Para posicionar sobre o #game */
    top: 50px; /* Tentativa inicial de colocar na metade da altura */
    left: 50px;
    z-index: 1000; /* Acima de tudo */
    font-size: 4em; /* Tamanho da fonte (ajuste conforme necessário) */
    color: #fed906; /* Example style */
    text-align: left; /* Alinha o texto do tempo à esquerda dentro do container */
    /* Outros estilos visuais do container, se necessário */
}

#game-controls button {
    /* Remova o posicionamento absoluto individual aqui */
    position: static;
    transform: none;
    width: auto; /* Deixa os botões ajustarem a largura com o conteúdo */
    padding: 10px 15px; /* Ajuste o padding conforme necessário */
    font-size: 1em;
    font-family: 'SuaNovaFonte', sans-serif;
    background-color: #9fb733;
    color: rgb(4, 4, 4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
#cronometro {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    /* Adicione outros estilos */
}

#iniciar-jogo-btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Adicione outros estilos */
}

@media (max-width: 900px) {
    #game {
        width: 100vw !important; /* Força a largura a 100% da viewport */
        max-width: none !important; /* Remove qualquer largura máxima */
        height: auto !important; /* Ajusta a altura proporcionalmente */
        transform: none !important; /* Adicione esta linha */
    }
}
   
#alvo1-container,
#alvo2-container,
#alvo3-container,
#game-controls {
    position: absolute;
    /* As posições (top, left, bottom, right) serão ajustadas individualmente */
}

#game {
    position: relative;
    width: 900px; /* Largura base */
    transform-origin: top left; /* Ajuste para evitar deslocamento */
    max-width: 90vw; /* Ocupa até 90% da largura da tela */
    max-width: 900px; /* Não ultrapassa 900px de largura */
    /*overflow: hidden;*/
}

#game-content-wrapper {
    position: relative;
    width: 900px;
    max-height: 90vh; /* Opcional: limita a altura a 90% da altura da tela */
}

#background {
    position: absolute;
    width: 900px;
    height: 1600px;
    z-index: 1; /* Menor z-index */
    top: 0px;
    left: 0px;
    pointer-events: all;
    /*display: none; */ /* Oculto inicialmente */
}   

#alvo1-container,
#alvo2-container,
#alvo3-container {
    width: 56.33%;
    height: auto;
    aspect-ratio: 1 / 1;
    max-height: 30vh;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 45;
    margin: 0;
    padding: 0;
}

#ford_t {
    position: absolute;
    width: 114px;
    height: 71px;
    top: 1520px;
    left: 732px;
    transform-origin: top left;
    z-index: 5;
}

.missil {
    position: absolute;
    z-index: 10;
    width: 20px;
    height: 250px;
    transform-origin: center;
    display: none;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.army {
    position: absolute;
    transform-origin: center bottom;
    z-index: 15;
}

#pedestal_d {
    position: absolute;
    width: 340px;
    height: 374px;
    top: 917px;
    left: 547px;
    transform-origin: top left;
    z-index: 20;
}

#army_c {
    position: absolute;
    width: 33px;
    height: 103px;
    top: 932px;
    left: 592px;
    transform-origin: center bottom;
    z-index: 20;
}

#army_d {
    position: absolute;
    width: 41px;
    height: 126px;
    top: 775px;
    left: 772px;
    transform-origin: center bottom;
    z-index: 20;
}

#torre_c_e_d {
    position: absolute;
    width: 340px;
    height: 220px;
    top: 823px;
    left: 547px;
    transform-origin: top left;
    z-index: 25;
}

.alvo1-camada {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain; /* Mantém a proporção da imagem */
    background-position: center bottom; /* Alinha a imagem ao centro horizontal e à parte inferior vertical do elemento */
}

.alvo2-camada {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain; /* Ou cover, dependendo do desejado */
}

.alvo3-camada {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain; /* Ou cover, dependendo do desejado */
}

#alvo1_fundo {
    background-image: url('nivel1/alvo1_fundo.png');
    z-index: 30;
    display: none; /* Oculto inicialmente */
}

#alvo2_fundo {
    background-image: url('nivel2/alvo2_fundo.png');
    z-index: 30;
    display: none; /* Oculto inicialmente */
}

#alvo1_destruido {
    background-image: url('nivel1/alvo1_destruido.png');
    z-index: 40;
    display: none; /* Oculto inicialmente */
}

#alvo2_destruido {
    background-image: url('nivel2/alvo2_destruido.png');
    z-index: 40;
    display: none; /* Oculto inicialmente */
}

#alvo1_dano2 {
    background-image: url('nivel1/alvo1_dano2.png');
    z-index: 43;
    display: none; /* Oculto inicialmente */
}

#alvo2_dano2 {
    background-image: url('nivel2/alvo2_dano2.png');
    z-index: 43;
    display: none; /* Oculto inicialmente */
}


#alvo1_dano1 {
    background-image: url('nivel1/alvo1_dano1.png');
    z-index: 44;
    display: none; /* Oculto inicialmente */
}

#alvo2_dano1 {
    background-image: url('nivel2/alvo2_dano1.png');
    z-index: 44;
    display: none; /* Oculto inicialmente */
}

#alvo1_predio {
    background-image: url('nivel1/alvo1_predio.png');
    z-index: 45;
    display:block;
}

#alvo2_predio {
    background-image: url('nivel2/alvo2_predio.png');
    z-index: 45;
    display:block;
}

#alvo3_predio {
    background-image: url('nivel3/alvo3_predio.png');
    z-index: 45;
    display:block;
}

.bomb {
    position: absolute;
    width: 20px;
    height: 250px;
    z-index: 45;
    transform-origin: center;
}

#army_e {
    width: 39px;
    height: 141px;
    top: 840px;
    left: 103px;
    transform-origin: center bottom;
    z-index: 50;
}

#torre_e {
    position: absolute;
    width: 218px;
    height: 714px;
    top: 886px;
    left: 15px;
    transform-origin: top left;
    z-index: 55;
}

#target {
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
    pointer-events: none;
    z-index: 60;
}

.explosion {
    position: absolute;
    width: 100px;
    height: 100px;
    display: none;
    z-index: 70;
}

.explosion-area {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: yellow;
    border: 2px solid red;
    border-radius: 50%;
    opacity: 0.8;
    z-index: 80;
    animation: expand 1s ease-out;
}

/* Revisitando o posicionamento dos controles */
#game-controls {
    bottom: 2%;
    left: 5%;
    right: 5%;
    display: flex;
    justify-content: space-around;
    z-index: 820;
    padding: 1%;
}

#game-controls button {
    flex-grow: 1; /* Permite que os botões cresçam para ocupar o espaço disponível */
    margin: 0 1%; /* Pequena margem lateral entre os botões */
    padding: 10px 0; /* Padding vertical, largura se ajusta */
    font-size: 0.9em;
    font-family: 'SuaNovaFonte', sans-serif;
    background-color: #9fb733;
    color: rgb(4, 4, 4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Garante que o texto fique centralizado */
    max-width: 150px; /* Limita a largura máxima dos botões */
}

#game-controls button:hover {
    background-color: #286090;
}

#game-info-topo {
    position: absolute;
    top: 10px; /* Ajuste a distância do topo conforme necessário */
    left: 10px; /* Ajuste a distância da esquerda conforme necessário */
    right: 10px; /* Para estender até a borda direita */
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos filhos */
    align-items: center; /* Alinhamento vertical ao centro */
    color: white; /* Cor do texto */
    z-index: 890; /* Para garantir que fique acima de outros elementos */
    padding: 10px; /* Adiciona um pouco de espaço interno */
}

#contador, #nivel, #nome-jogo {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
    padding: 5px 10px;
    border-radius: 5px; /* Opcional: bordas arredondadas */
}

#game-info-topo, #contador, #nivel, #nome-jogo, #mensagem-feedback, #iniciar-btn, #modo-jogo-btn {
    font-family: 'Press Start 2P', cursive; /* 'cursive' é uma fonte de fallback */
}



@keyframes expand {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}